@import './../../styles/sass/_vars.scss';
@import './../../styles/sass/_mixins.scss';

.btn {
    width: 275px;
    height: 68px;
    border: 3px solid $primaryColor;
    border-radius: 7px;
    background-color: transparent;
    @include font(16px,900,20px);
    color: $primaryColor;
    filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
    transform: translate(-0px, -7px);
    @media screen and (min-width: 768px)
{
        width: 304px;
        border-radius: 3px;
        @include font(18px, 900, 22px);
        transform: translate(0px, 12px);
    }
}