@import './../../../styles/sass/_vars';
@import './../../../styles/sass/_mixins';

.about {
    color: $textColor;
    @include font(14px, 400, 20px);

    .container {
        @extend %container;

        .inner {
            padding: 39px 0 0;
            max-height: 613px;

            .gridWrap {
                display: grid;
                grid-auto-columns: 1fr 1fr;
                grid-auto-rows: 80px 196px 150px 224px;
                column-gap: 30px;

                @media screen and (min-width: 576px) {
                    grid-auto-rows: 80px 340px 130px 224px;
                }

                .title {
                    max-width: 289px;
                    padding: 0 50px 0 50px;
                    @include font(28px, 400, 34px);
                    text-align: center;
                    grid-area: 1/1/2/3;

                    @media screen and (min-width: 576px) {
                        max-width: 289px;
                        // padding: 0 200px 0 166px;
                    }
                }

                .img {
                    width: 100%;
                    border-radius: 4px;
                    grid-area: 2/1/3/3;
                }

                .text {
                    grid-area: 3/1/4/3;
                    padding: 30px 0;

                    // margin: 30px 0;
                    @media screen and (min-width: 576px) {
                        @include font(18px, 400, 26px);
                    }
                }

                .listItems {
                    grid-area: 4/1/5/3;

                    .item {
                        display: flex;

                        a {
                            font-weight: 500;
                            list-style: none;

                            img {
                                margin-right: 10px;
                            }
                        }

                        span {
                            margin-left: 2px;
                            margin-bottom: 26px;
                        }
                    }
                }
            }

            .ratingWrap {
                min-height: 70px;
                display: flex;
                align-items: center;

                @media screen and (min-width: 576px) {
                    padding-bottom: 34px;
                }

                .rating {
                    margin-left: 16px;

                    @media screen and (min-width: 576px) {
                        display: flex;
                        margin-left: 10px;
                        padding-top: 4px;
                    }
                    p {
                        margin-bottom: 6px;
                        padding-top: 5px;
                        @include font(14px, 400, 20px);
                        @media screen and (min-width: 576px) {
                            @include font(18px, 400, 26px);
                            margin-right: 15px;
                        }

                        span {
                            font-weight: 700;
                        }

                        img {
                            @media screen and (min-width: 576px) {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}